#include Directories
.vs/
/bin/
bin-int/
.vscode/
build/
VAR/VAR.dir/


#include Files
.user
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user


/CMakeFiles/
**CMakeLists.txt.user
**CMakeCache.txt
**CMakeFiles
**CMakeScripts
**Testing
**Makefile
**cmake_install.cmake
**install_manifest.txt
**compile_commands.json
**CTestTestfile.cmake
**_deps
x64/

**.gch
**.pch